name: Markdown Lint

permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches:
      - '**'
    paths:
      - '**.md'

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Run markdownlint
        uses: docker://davidanson/markdownlint-cli2
        with:
          args: "_posts/*.md"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}